.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.textCenter {
  text-align: center;
}
.textJustify {
  text-align: justify;
}
.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}
.upper {
  text-transform: uppercase;
}
.perHalf {
  width: 49%;
}
.tableDiv {
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  float: none;
}
.tableRow {
  display: table-row;
  vertical-align: middle;
}
.backgroundImage {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.blackColor {
  color: #000000;
}
.whiteColor {
  color: #ffffff;
}
.nonScroll {
  overflow: hidden;
  height: 100%;
}
.parallaxBackground {
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.health-profile-page {
  padding-top: 40px;
}
.subNavigation ul li {
  float: left;
  width: 100%;
  margin-bottom: 8px;
}
.subNavigation ul li a {
  display: block;
  font: 17px/20px 'GothaProMed';
  color: #33333a;
  padding: 13px;
  background: #e4e7ea;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.subNavigation ul li a:hover,
.subNavigation ul li a.active {
  background: #21a0a0;
  color: #ffffff;
}
.customTitle {
  margin: 0;
  font: 20px/20px 'GothaProMed';
  color: #21a0a0;
}
.customHR {
  margin: 15px 0;
}
.form-group label {
  font: 14px/20px 'GothaProMed';
  color: #323232;
  font-weight: normal;
}
.customRadio {
  display: inline-block;
  margin: 0 20px 0 0;
}
.customRadio input {
  display: none;
}
.customRadio input + label {
  display: inline-block;
  min-height: 21px;
  padding: 0 0 0 29px;
  position: relative;
  font: 15px/21px 'GothaProBold';
  font-weight: normal;
  color: #323232;
}
.customRadio input + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 21px;
  width: 21px;
  border: 2px solid #b8bcc0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.customRadio input:checked + label:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  height: 13px;
  width: 13px;
  background: #21a0a0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
textarea {
  resize: none;
}
.form-control:focus {
  border-color: #b8bcc0;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(33, 160, 160, 0.075), 0 0 8px rgba(33, 160, 160, 0.6);
  box-shadow: inset 0 1px 1px rgba(33, 160, 160, 0.075), 0 0 8px rgba(33, 160, 160, 0.6);
}
.callBlockDoctor {
  padding: 20px;
  border: 3px solid #26598c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.callTitle {
  color: #26598c;
  font: 15px/15px 'GothaProMed';
  margin-bottom: 10px;
  display: block;
  float: left;
}
.callText {
  font: 14px/18px 'GothaProReg';
  color: #3c3e40;
  display: block;
  float: left;
}
.subForm {
  width: 500px;
  margin: 0 auto;
}
.btn-success {
  background: #21a0a0;
  padding: 0 15px;
}
.btn-success:hover {
  background: #21a0a0;
}
.btn-success:hover:after {
  background: #1a8b8b;
}
.btn-link {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #323232;
  padding: 0 15px;
}
.btn-link:hover {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  color: #323232;
}
.btn-link:hover:after {
  display: none;
}
.health-profile-page {
  min-height: 600px;
}
.health-profile-page.container {
  overflow: hidden;
}
.health-profile-page .container {
  overflow: hidden;
}
.simpleProfileInfo {
  margin-top: 15px;
}
.simpleProfileInfo p {
  margin: 0;
  font: 15px/20px 'GothaProReg';
  color: #040404;
}
.simpleProfileInfo a {
  display: inline-block;
  color: #3b94ec;
  text-decoration: underline;
  margin: 0 10px 0 0;
}
.simpleProfileInfo .editLinks {
  margin-top: 15px;
}
.simpleProfileInfo .infoTitle {
  margin-bottom: 15px;
  font: 17px/17px 'GothaProMed';
  color: #040404;
}
.cardsBlock .simpleProfileInfo {
  margin-top: 0;
}
.cardsBlock .cardItem {
  height: 140px;
  border: 2px solid #ced1d4;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.cardsBlock .cardItem .cardIco {
  width: 49px;
  height: 32px;
  float: left;
  margin: 0 10px 10px 0;
}
.cardsBlock .cardItem .cardData {
  float: left;
  width: 100%;
}
.cardsBlock .cardItem .cardNumber {
  line-height: 30px;
}
.cardsBlock .editCard {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.addressItems .addressItem {
  padding: 40px 10px 10px 10px;
  border: 2px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
.addressItems .addressItem.active {
  border-color: #21a0a0;
}
.addressItems .addressItem .editAddress {
  margin-top: 5px;
}
.addressItems .addressItem .activeItem {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 0 10px 0 0;
  color: #21a0a0;
}
.addAddress {
  font: 15px/20px 'GothaProReg';
  color: #3b94ec;
  float: left;
  width: 100%;
}
.addAddress span {
  text-decoration: underline;
}
.addAddress .fa {
  margin: 0 5px 0 0;
}
.requiredInfo {
  font: 13px/13px 'GothaProReg';
  color: #e64b66;
  margin: 15px 0;
}
.shippingLabel {
  padding: 0 0 0 10px;
}
.formTitle {
  margin-top: 25px;
  font: 15px/17px 'GothaProMed';
  color: #040404;
  float: left;
  width: 100%;
}
.requiredLabel {
  position: relative;
}
.requiredLabel:after {
  content: '*';
  position: absolute;
  left: 0;
  top: 0;
  color: #e64b66;
  font: 13px/13px 'GothaProReg';
}
.orderTable {
  color: #040404;
}
.orderTable .tableCell {
  font: 12px/12px 'GothaProMed';
  text-align: left;
  padding: 0 10px;
}
.orderTable .tableCell:nth-child(1) {
  width: 120px;
}
.orderTable .tableCell:nth-child(2) {
  width: 120px;
}
.orderTable .tableCell:nth-child(3) {
  width: 120px;
}
.orderTable .tableCell:nth-child(4) {
  width: 380px;
}
.ordersTitle {
  height: 50px;
  color: #828282;
  text-transform: uppercase;
}
.accItem {
  margin-bottom: 10px;
}
.accTitle {
  height: 50px;
  background: #f6f8fa;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #dddfe1;
  position: relative;
}
.accTitle:after {
  content: '\f0d7 ';
  color: #26598c;
  font: 16px/16px 'FontAwesome';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.accTitle.active:after {
  content: '\f0d8 ';
}
.accTitle .tableCell {
  font-family: 'GothaProReg';
}
.accTitle .tableCell strong {
  font-family: 'GothaProMed';
  font-weight: normal;
}
.accTitle .tableCell a {
  display: inline-block;
  color: #3b94ec;
  text-decoration: underline;
  margin: 0 10px 0 0;
  text-transform: capitalize;
}
.accBlock {
  padding: 0 10px 0 10px;
  border: 1px solid #dddfe1;
  border-top: none;
  display: none;
}
.accBlock .line {
  padding: 5px 0;
  font: 14px/32px 'GothaProMed';
  color: #1f1f1f;
  border-bottom: 1px solid #dde0e4;
}
.accBlock .line.noBorder {
  border: none;
}
.accBlock span {
  color: #535252;
  text-transform: uppercase;
  min-width: 20%;
  display: inline-block;
  font-size: 12px;
  margin: 0 10px 0 0;
}
.accBlock .orderSubTitle {
  font-size: 16px;
  color: #26598c;
  text-transform: capitalize;
}
.accBlock p {
  font: 12px/12px 'GothaProReg';
  margin: 5px 0;
}
.accBlock .btn {
  margin: 0 0 0 10px;
}
@media screen and (min-width: 992px) {
  .subNavigation ul {
    display: block !important;
  }
}
@media screen and (max-width: 1200px) {
  header .header-nav a {
    font-size: 15px;
  }
}
@media screen and (max-width: 992px) {
  .subForm {
    width: 100%;
    margin: 0 auto;
  }
  .tableCell {
    display: table-row;
  }
  .orderTable .tableCell {
    display: table-cell;
    font: 10px/10px 'GothaProMed';
    text-align: left;
    padding: 0 5px;
    width: 25% !important;
  }
  .accBlock * {
    font-size: 12px !important;
  }
  .callBlockDoctor {
    padding: 30px;
  }
  .mobileNav {
    height: 50px;
    background: #1a8b8b;
    margin: 0 -15px;
  }
  .navBurger {
    display: block;
    position: absolute;
    width: 35px;
    height: 25px;
    right: 25px;
    top: 15px;
    z-index: 9999999;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .navBurger span {
    position: absolute;
    left: 0;
    top: 10px;
    display: block;
    content: '';
    height: 2px;
    width: 35px;
    background-color: #fff;
    border-radius: 1px;
    cursor: pointer;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .navBurger span:after,
  .navBurger span:before {
    position: absolute;
    display: block;
    content: '';
    height: 2px;
    width: 35px;
    background-color: #fff;
    border-radius: 1px;
    cursor: pointer;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .navBurger span:before {
    top: -8px;
  }
  .navBurger span:after {
    bottom: -8px;
  }
  .navBurger.active span {
    background-color: transparent;
  }
  .navBurger.active span:before,
  .navBurger.active span:after {
    top: 0;
  }
  .navBurger.active span:before {
    transform: rotate(45deg);
  }
  .navBurger.active span:after {
    transform: rotate(-45deg);
  }
  .subNavigation {
    margin-bottom: 20px;
  }
  .subNavigation ul {
    display: none;
  }
  .health-profile-page {
    padding: 40px 0 0 0;
  }
  .health-profile-page .col-md-9,
  .health-profile-page .clo-md-3 {
    width: 100%;
    float: left;
  }
}
