.customH2 {
  font: 26px/26px 'GothaProBold';
  color: #21a0a0;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}
.registerAcc .accTitle {
  border: none;
  padding: 9px;
  font: 16px/34px 'GothaProMed';
  color: #26598c;
}
.registerAcc .accTitle:after {
  display: none;
}
.registerAcc .accTitle .stepIco {
  width: 32px;
  height: 32px;
  background: #26598c;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  margin: 0 7px 0 0;
  float: left;
}
.registerAcc .accTitle .stepIco .number {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font: 17px/34px 'GothaProBold';
  color: #ffffff;
  text-align: center;
}
.registerAcc .accTitle .stepIco .check {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font: 17px/32px 'FontAwesome';
  color: #ffffff;
  text-align: center;
}
.registerAcc .accTitle.successStep {
  color: #21a0a0;
}
.registerAcc .accTitle.successStep .stepIco {
  background: #21a0a0;
}
.registerAcc .accTitle.successStep .stepIco .check {
  opacity: 1;
}
.registerAcc .accTitle.successStep .stepIco .number {
  opacity: 0;
}
.registerAcc .accTitle.deActive {
  color: #d0d3d6;
  cursor: default;
  pointer-events: none;
}
.registerAcc .accTitle.deActive .stepIco {
  background: #d0d3d6;
}
.registerAcc .accBlock {
  border: none;
  padding-top: 40px;
}
.form-group label {
  margin: 0;
}
.simpleLabel .form-group label {
  font-family: 'GothaProReg';
}
.errorControl {
  border-color: #e64b66;
}
.errorControl {
  border-color: #e64b66;
}
.statusIco {
  position: relative;
}
.statusIco:after {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid;
  right: 10px;
  top: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-family: 'FontAwesome';
  line-height: 23px;
  text-align: center;
}
.statusIco.successIco:after {
  border-color: #21a0a0;
  color: #21a0a0;
  content: '\f00c';
}
.statusIco.errorIco:after {
  content: '\f00d';
  border-color: #e64b66;
  color: #e64b66;
}
.formText {
  padding: 8px;
  border: 1px solid #bcc0c3;
  font: 12px/16px 'GothaProReg';
  color: #323232;
  margin-top: 15px;
}
.checkBoxWithLabel {
  margin-bottom: 30px;
}
.checkBoxWithLabel input + label {
  width: auto;
  height: auto;
  padding: 0 0 0 35px;
  line-height: 25px;
  font-family: 'GothaProReg';
  font-weight: normal;
  font-size: 14px;
}
.checkBoxWithLabel input + label:before {
  width: 25px;
  height: 25px;
}
.checkBoxWithLabel input:checked + label:after {
  width: 25px;
  height: 25px;
}
/* autorization */
.authoriseTitle {
  color: #21a0a0;
  font: 20px/20px 'GothaProMed';
  float: left;
  width: 100%;
  margin: 15px 0 25px;
  text-align: center;
}
.authoriseIco {
  margin: 0 auto;
  display: block;
  max-width: 95px;
}
.authoriseSubTitle {
  font: 18px/20px 'GothaProMed';
  color: #26598c;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.authoriseSubTitle span {
  font: 13px/18px 'GothaProMed';
  color: #33333a;
  float: left;
  width: 100%;
}
.authoriseAcc .accItem .accTitle {
  background: #21a0a0;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: 17px/20px 'GothaProMed';
  color: #ffffff;
  position: relative;
  padding: 15px 0 15px 50px;
  text-transform: capitalize;
}
.authoriseAcc .accItem .accTitle img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.authoriseAcc .accItem .accTitle:after {
  color: #ffffff;
}
.authoriseAcc .accItem .accBlock {
  padding: 10px;
  border: 1px dashed #cbced2;
  border-top: none;
}
.files .itemFile .fa-close {
  color: #c3252f;
  width: 14px;
}
.profileGreenTitle {
  color: #21a0a0;
  font: 14px/18px 'GothaProMed';
  margin-bottom: 20px;
}
.profileTitle a {
  color: #21a0a0;
}
/* authorization */
/* COntanct */
.contactFormTitle .tableCell {
  padding: 0 10px;
}
.contactForm {
  margin-top: 30px;
}
.noMarginLabel {
  margin: 0;
}
.contactBlock {
  background: #f5f7f8;
  padding: 15px 0;
}
.contactBlock .contactItem {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
}
.contactBlock .contactItem.noBorder {
  border-bottom: none;
  margin: 0;
}
.contactBlock .contactItem .contactIco {
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
}
.contactBlock .contactItem .contactTitle {
  font: 19px/19px 'GothaProMed';
  color: #26598c;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}
.emailText {
  padding-bottom: 15px;
}
.contactText {
  font: 14px/17px 'GothaProReg';
  color: #323232;
  margin-top: 10px;
}
.contactText a {
  color: #26598c;
  font-size: 11px;
  text-decoration: underline;
}
.contactText strong {
  font-weight: normal;
  font-family: 'GothaProMed';
}
.contactText strong a {
  font: 14px/17px 'GothaProMed';
  color: #323232;
  font-weight: normal;
  text-decoration: none;
}
.contactText p {
  min-height: 17px;
  display: inline-block;
}
.contactText span {
  font: 16px/19px 'GothaProMed';
  color: #26598c;
}
.contactText i {
  color: #8c8c8c;
  font-size: 11px;
  font-style: normal;
  margin-top: 5px;
}
/* COntanct */
/* Modal */
.modal-dialog {
  height: 100%;
  margin: 0;
  display: flex;
  width: 100%;
}
.modal-dialog .modal-content {
  margin: auto;
  overflow: hidden;
}
.modal-dialog .modal-content .modal-header {
  background: #f6f8fa;
  border-bottom: 1px solid #dddddd;
}
.modal-dialog .modal-content .modal-header h4 {
  font: 18px/18px 'GothaProBold';
  color: #26598c;
  text-align: center;
  text-transform: uppercase;
}
.modal-dialog .modal-content .modal-body {
  padding: 30px;
  overflow: hidden;
}
.modal-dialog .modal-content .modal-footer {
  border-top: none;
  padding-top: 0;
}
/* Modal */
/* Login Modal */
.loginModal .modal-content {
  width: 500px;
}
.loginModal .modal-content .modalLink {
  font: 15px/25px 'GothaProReg';
  color: #1181e1;
  text-decoration: underline;
  display: inline-block;
}
.loginModal .modal-content .customCheckbox {
  margin: 0;
}
.loginModal .modal-content .modal-footer .modalLink {
  margin-top: 10px;
}
/* Login Modal */
/* Order page */
@media screen and (max-width: 992px) {
  .loginModal .modal-content {
    max-width: 90%;
  }
  .loginModal .modal-content .textRight {
    text-align: left;
  }
}
.ordersBlock .orderItem {
  margin-bottom: 40px;
}
.ordersBlock .orderItem .orderHeader {
  color: #26598c;
  font: 18px/26px 'GothaProBold';
  padding: 7px 5px;
  text-align: center;
  background: #f6f8fa;
  border: 1px solid #dddfe1;
  text-transform: uppercase;
}
.ordersBlock .orderItem .orderHeader .numIco {
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  margin: 0 10px 0 0;
  color: #ffffff;
  background: #26598c;
}
.ordersBlock .orderItem .orderBody {
  border: 1px dashed #dddfe1;
  border-top: none;
  padding: 40px;
}
.ordersBlock .orderItem .orderBody .orderPart {
  margin-bottom: 15px;
  font: 15px/18px 'GothaProReg';
  color: #33333a;
  text-align: center;
}
.ordersBlock .orderItem .orderBody .orderPart img {
  display: block;
  margin: 0 auto 15px;
  max-width: 100%;
}
.ordersBlock .orderItem .orderBody .orderPart span {
  color: #26598c;
  font-family: 'GothaProBold';
  display: inline-block;
}
.ordersBlock .orderItem .orderBody .btn {
  margin-top: 25px;
}
.ordersBlock .orderItem .orderBody img {
  margin-bottom: 20px;
}
.ordersBlock .orderItem .orderBody p {
  color: #26598c;
  font: 20px/25px 'GothaProReg';
  text-transform: uppercase;
}
.ordersBlock .orderItem .orderBody p strong {
  font: 25px/25px 'GothaProBold';
}
.greenText {
  color: #21a0a0 !important;
}
.btn-primary {
  background: #26598c;
  padding: 0 15px;
}
.btn-primary:hover {
  background: #26598c;
}
.btn-primary:hover:after {
  background: #26598c;
}
/* Order page */
/* Pay page */
.payTitle {
  color: #26598c;
  font: 20px/20px 'GothaProMed';
  margin-bottom: 15px;
}
.paySubTitle {
  color: #323232;
  font: 16px/16px 'GothaProMed';
  margin-bottom: 15px;
}
.payIco {
  display: block;
  margin: 0 auto 25px;
}
.payTableTitle {
  background: #f6f8fa;
  border: 1px solid #dddfe1;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  margin-top: 50px;
  font: 16px/16px 'GothaProBold';
  color: #26598c;
  padding: 12px 5px 8px;
  text-transform: uppercase;
}
.payTable {
  border: 1px solid #dddfe1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top: none;
  padding: 15px;
  font: 11px/15px 'GothaProReg';
  color: #040404;
}
.payTable strong {
  font-size: 14px;
  font-family: 'GothaProMed';
  font-weight: normal;
  margin-bottom: 15px;
  display: block;
}
.payTable .tableCell {
  vertical-align: top;
  padding: 20px 0;
  border-top: 1px solid #dddfe1;
}
.payTable .tableCell:nth-child(1) {
  width: 60%;
}
.payTable .tableCell:nth-child(2),
.payTable .tableCell:nth-child(3) {
  width: 20%;
}
.payTable .tableRow:first-child .tableCell {
  border-top: none;
}
/* Pay page */
/* Checkout page */
.checkoutHeader {
  height: 90px;
}
.checkoutHeader .container {
  height: 100%;
  border-bottom: 1px solid #dddfe1;
}
.checkoutHeader .call-block {
  font-size: 22px;
  text-transform: uppercase;
}
.secureTitle {
  font: 26px/53px 'GothaProBold';
  color: #21a0a0;
  text-transform: uppercase;
}
.secureTitle img {
  float: left;
  margin: 0 10px 0 0;
}
.customerTitle {
  margin: 25px 0 40px;
  float: left;
  width: 100%;
  border: 1px solid #dddfe1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f6f8fa;
  padding: 10px;
  font: 16px/25px 'GothaProMed';
  color: #4a4b4d;
}
.customerTitle a {
  color: #26598c;
  text-decoration: underline;
}
.customerTitle .fa {
  color: #26598c;
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
}
.customerNewTitle {
  font: 19px/19px 'GothaProBold';
  color: #26598c;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.formCustomerTitle {
  color: #33333a;
  font: 17px/17px 'GothaProMed';
  margin: 20px 0 25px;
}
.checkSubmit {
  margin-top: 30px;
}
.checkSubmit .btn {
  margin-bottom: 15px;
}
.checkoutPay {
  margin-top: 0;
}
.customerBlock {
  font: 14px/17px 'GothaProReg';
  color: #323232;
  margin-bottom: 35px;
}
.customerBlock strong {
  font-weight: normal;
  font-family: 'GothaProBold';
}
.customerBlock span {
  color: #26598c;
  display: inline-block;
  margin: 0 10px;
}
.customerBlock .marginBottom {
  margin-bottom: 25px;
}
.customerBlock a {
  font-family: 'GothaProBold';
}
.customerBlock .name {
  font: 19px/19px 'GothaProMed';
  color: #26598c;
  margin: 30px 0 15px;
}
.customerBlock + .btn {
  margin-bottom: 10px;
}
.newCheckoutItem {
  padding: 15px;
  border: 1px dashed #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.newCheckoutItem img {
  height: 44px;
}
.newCheckoutItem .paySubTitle {
  min-height: 32px;
}
.newCheckoutItem .btn {
  padding: 0 45px;
  position: relative;
}
.newCheckoutItem .btn img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  height: auto;
}
.simpleCheckoutText {
  font: 14px/14px 'GothaProReg';
  color: #323232;
  margin: 35px 0 25px;
}
.thanksLine {
  background: #f2f5f7;
  padding: 15px;
  font: 19px/19px 'GothaProBold';
  color: #21a0a0;
  text-align: center;
}
.noBorder {
  border: none !important;
}
@media screen and (max-width: 992px) {
  .newCheckoutItem .btn {
    position: relative;
    height: auto;
    line-height: 18px;
    padding: 15px 45px;
    white-space: normal;
  }
}
/* Checkout page */
/* Checkout modal */
.photoModal .modal-dialog .modal-content {
  width: 900px;
}
.photoModal .modal-dialog .modal-content .modal-header {
  border-bottom: 1px solid #dddfe1;
  background: transparent;
  float: left;
  width: 100%;
}
.photoModal .modal-dialog .modal-content .modal-header .modal-title {
  text-transform: capitalize;
}
.photoModal .modal-dialog .modal-content .modal-body {
  float: left;
  width: 100%;
  padding: 0 0 20px 0;
}
.photoModal .modal-dialog .modal-content .modal-body .photoTitle {
  margin-top: 15px;
  margin-bottom: 15px;
}
.photoModal .modal-dialog .modal-content .modal-body .camera {
  width: 75% !important;
  float: left;
}
.photoModal .modal-dialog .modal-content .modal-body .images {
  max-height: 400px;
  overflow: auto;
  width: 25% !important;
  float: left;
}
.photoModal .modal-dialog .modal-content .modal-body .images .itemCheck {
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.photoModal .modal-dialog .modal-content .modal-body .images .image {
  height: 80px;
  width: 100%;
  float: left;
}
.photoModal .modal-dialog .modal-content .modal-body .images .check {
  height: 30px;
  width: 100%;
  float: left;
}
.photoModal .modal-dialog .modal-content .modal-body .images .check input {
  display: none;
}
.photoModal .modal-dialog .modal-content .modal-body .images .check input + label {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #cdcccc;
  text-align: center;
  color: #ffffff;
  margin: 5px auto 5px;
  display: block;
  cursor: pointer;
}
.photoModal .modal-dialog .modal-content .modal-body .images .check input + label .fa {
  line-height: 20px;
  font-size: 12px;
}
.photoModal .modal-dialog .modal-content .modal-body .images .check input:checked + label {
  background: #21a0a0;
}
.photoModal .modal-dialog .modal-content .modal-body .cameraBLock {
  height: 350px;
  margin-bottom: 15px;
}
.photoModal .modal-dialog .modal-content .modal-footer {
  background: #f0f0f0;
  float: left;
  width: 100%;
  padding: 15px;
}
.track3 {
  width: 7px;
  background: rgba(0, 0, 0, 0.1);
  margin-right: 2px;
  border-radius: 10px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
.track3:hover,
.track3.dragging {
  background: #d9d9d9;
  background: rgba(0, 0, 0, 0.15);
}
.handle3 {
  width: 7px;
  right: 0;
  background: #999;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
.track3:hover .handle3,
.track3.dragging .handle3 {
  width: 7px;
}
@media screen and (max-width: 992px) {
  .photoModal .modal-dialog .modal-content {
    width: 100%;
  }
  .photoModal .modal-dialog .modal-content .modal-header .modal-title {
    text-transform: capitalize;
  }
  .photoModal .modal-dialog .modal-content .modal-body {
    height: 200px;
    overflow: auto;
  }
  .photoModal .modal-dialog .modal-content .modal-body .camera {
    width: 70% !important;
    float: left;
  }
  .photoModal .modal-dialog .modal-content .modal-body .images {
    max-height: 200px;
    width: 30% !important;
  }
  .photoModal .modal-dialog .modal-content .modal-body .cameraBLock {
    height: 200px;
  }
}
/* Checkout modal */
@media screen and (max-width: 992px) {
  .registerAcc .accTitle {
    font: 14px/34px 'GothaProMed';
  }
}
